#header {
    background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbeYOE3%2FbtqTtqFiPSx%2FWSrqkKpIgCBmBfdsUypKpk%2Fimg.png);
    width: device-width;
    height: 330px;
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: cover;  
    background-color: black;  
    overflow: visible;
}


    #header h1 {

        /* display: inline-block; */
      
        text-decoration: none;
      
        vertical-align: center;
        /* font-style: italic; */
      
        font-family: Times New Roman;
      
        color: #01263a;
      
      }

      #header p{
        text-decoration: none;
      
        vertical-align: center;
      
        font-style: italic;
      
        font-family: Times New Roman;
      
        color: grey;
      }
*/
   
.pictures{
    
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        -ms-flex-pack: justify;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;

}

.box.person {
    width:25%;
    /* width: 300px;
    height: 400px; */
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    border:1px solid black;
    display: inline-block;
    /* vertical-align: top; */
}

.image-person {
    max-width:100%;
    height:auto;
    color: #8a2424;
    font-family: sans-serif;
    /* object-fit:cover; */
}


table{
    margin:50px 5px;
    width:800px;
    border: 1px solid #444444;
    border-collapse: collapse;
}

th{
    background-color: #8A0808;
    text-align: center;
color: white;
border-bottom: 1px solid #444444;
        padding: 10px;
        text-align: center;
}
tr{
    padding: 10px;
    border: 1px solid #444444;
    /* background-color: lavender; */
}
td{
    border: 1px solid #444444;
    text-align: center;
    padding: 6px;
    
}
